@charset "UTF-8";

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

:root {
  --bg: #000000;
  --bg-card: #0e1218;
  --text: #f1f1f1;
  --img-profile: #8257e5;
  --buttons: #fff;
  --border-button: #1a1a1a;
}

body {
  background-color: var(--bg-card);
}

p {
  color: var(--text);
  font-weight: 400;
}

div {
  display: flex;
}

/* HEADER */
.header {
  color: var(--text);
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;

  display: flex;
  align-items: center;
  margin-left: 2.09rem;
  margin-top: 2.11rem;

  width: 14.37rem;
  height: 3.4rem;
}

.header img {
  margin-right: 1.21rem;
  padding: 0.62rem;
  width: 3.46rem;
  height: 3.46rem;

  border: 0.06rem solid var(--text);
  border-radius: 1.87rem;
}

/* Main */

main {
  display: flex;
  align-items: center;
}

/* ARTICLE */

article {
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 25.43rem;
  height: 35rem;
  border-radius: 3.12rem;
  background-color: var(--bg-card);
}

/* SECTION */

section {
  display: none;
  margin-top: 0.62rem;
  margin-left: 22.87rem;
  width: 27.37rem;
  height: 37.5rem;
  background-color: var(--bg);
  border-radius: 3.12rem;
}

.imgUser img {
  margin-left: 5.56rem;
  width: 19.68rem;
  height: 19.68rem;
  border: 0.62rem solid var(--img-profile);
  border-radius: 18.75rem;
}

.info {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 25rem;
  top: 18.12rem;
  flex-wrap: wrap;
  border-radius: 3.12rem;
  width: 12.18rem;
  height: 14.37rem;
  font-style: normal;

  font-size: 1rem;
  line-height: 1.5rem;

  background: linear-gradient(
    180deg,
    #000000 3.65%,
    rgba(70, 69, 69, 0.72) 53.65%,
    rgba(62, 56, 56, 0.42) 100%
  );
}

.info img {
  margin-top: 0.93rem;
  margin-right: 0.62rem;
  margin-left: 1.28rem;
  width: 1.29rem;
  height: 1.29rem;
}

.info p {
  margin-top: 0.93rem;
}

/* FOOTER */

footer {
  display: flex;
  margin-left: 12.5rem;
  margin-top: 6.25rem;
  font-style: normal;

  font-size: 1.25rem;
  line-height: 1.87rem;
}

footer p {
  text-transform: uppercase;
}

/* BUTTON */

button {
  width: 14.31rem;
  height: 3.71rem;
  margin-top: 2.06rem;
  background-color: var(--bg);
  border: 0.12rem solid var(--border-button);
  color: var(--buttons);
  border-radius: 0.93rem;
}

.botao {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 3.12rem;
  margin-left: 9.12rem;
  justify-content: center;
  flex-direction: column;

  font-style: normal;

  font-size: 1.25rem;
  line-height: 1.87rem;
}
